
</div>
<div id="footer">
  <div class="top">
    <div class="left-side">© ツナミ・ファクター・TSUNAMI FAKTA Limited. 2026 Copyrighted</div>
    <div class="right-side">TSUNAMI FAKTA</div>
  </div>
  <div class="bottom">-Created with PRIDE by YOGASMARA・ヨガスマラ and ZUFAR・ズファー-</div>
</div>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
crossorigin="anonymous"
></script>
</body>
</html>
