<%- include('components/header', {name: "Landing Page"}) %>
<div class="text-center pt-5 pb-5 text-bg-info">
  <h1 class="display-5 fw-bold">TSUNAMI FAKTA</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Sumber informasi terpercaya yang ada di muka bumi.</p>
    <p class="blockquote-footer">Banyak Informasi seputar olahraga, teknologi, hiburan dan masih banyak lagi.</p>
  </div>
</div>
<div class="container mt-5">
  <% if (currentUser !== null && currentUser.role === "Penulis") { %>
    <a href="/article/add" class="btn btn-outline-success mb-5">Add new Article</a>
  <% } %>
  <%- include('components/articleCards') %>
<%- include('components/footer') %>